# compilation and distribution
__pycache__
_ext
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
**/.ipynb_checkpoints/

# onnx models
*.onnx

# editor settings and temp files
.idea
.vscode
_darcs
*.swn
*.swo
*.swp
*~

# input and output 
build/
weights/
Input and Outputs/
Testprojekt/
data/
work_dirs

# OS files
.DS_Store

gradio_cached_examples

# keep dummy folders
!Input and Outputs/[mXpID_Manufacturer Name]/*
!weights/

